body{
    background: rgb(161, 183, 209);
    font: normal 15pt Times;
    text-align: justify;
}

header{
    color: white;
    font: normal 18pt Times;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}

p#botao{
    text-align: center; 
}

button{
    height: 30px;
    border-radius: 5px;
}